.player {
  background-color: black;
}

.player-container {
  width: 100%;
  max-height: 6rem;
  position: absolute;
  bottom: 0;
  background-color: black;
  padding: 1rem;
}

.player-options {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.step-icon {
  font-size: 1.5rem;
}

.player-icon {
  font-size: 2rem;
}

.tracker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: 50%;
  min-height: 3rem;
}

.tracker-bar {
  height: 3px;
  width: 25%;
  background-color: white;
}

.player-other-options {
  right: 0;
  top: 0;
  position: absolute;
  width: 25%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
